<!-- Добро пожаловать в {{ title }}  <br>.
Тут собрано {{ books|length }} книг из моей личной коллекции.

<table border="1">
    <tr>
        <td>Title</td>
        <td>ISBN</td>
        <td>Description</td>
        <td>Year release</td>
        <td>Author Name</td>
        <td>Country</td>
        <td>Price</td>
        <td>Copies</td>
    </tr>
    {% for book in books %}
    <tr>
        <td>{{ book.title }}</td>
        <td>{{ book.ISBN }}</td>
        <td>{{ book.description }}</td>
        <td>{{ book.year_release }}</td>
        <td>{{ book.author.full_name }}</td>
        <td>{{ book.author.country }}</td>
        <td>{{ book.price }}</td>
        <td>{{ book.copy_count }}</td>
    </tr>
    {% endfor %}
</table> -->
Добро пожаловать в {{ title }}  <br>.
Тут собрано {{ books|length }} книг из моей личной коллекции.

<table border="1">
    <tr>
        <td>Title</td>
        <td>ISBN</td>
        <td>Description</td>
        <td>Year release</td>
        <td>Author Name</td>
        <td>Country</td>
        <td>Copies</td>
        <td>Price</td>
        <td>Redaction</td>
        <td>Enc/De crement</td>
    </tr>
    {% for book in books %}
        <tr>
            <td>{{ book.title }}</td>
            <td>{{ book.ISBN }}</td>
            <td>{{ book.description }}</td>
            <td>{{ book.year_release }}</td>
            <td>{{ book.author.full_name }}</td>
            <td>{{ book.author.country }}</td>
            <td>{{ book.copy_count }}</td>
            <td>{{ book.price }}</td>
            <td>{{ book.redaction }}</td>
            <td>
                <form action="/index/book_increment/" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="id" value="{{book.id}}" />
                    <input type="submit" value="Увеличить кол-во" />
                </form>
                <form action="/index/book_decrement/" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="id" value="{{book.id}}" />
                    <input type="submit" value="Уменьшить кол-во" />
                </form>
            </td>
        </tr>
    {% endfor %}
    <tr>
        <td>Name</td>
        <td>Books_lent</td>
    </tr>
    {%for friend in friends %}
        <tr>
            <td>{{ friend.name }}</td>
            <td>{{ friend.lent.all|join:", <br>" }}</td>
        </tr>
    {% endfor %}
</table>